* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/fond.jpg") no-repeat center fixed;
    background-size: cover;
}

.plateau {
    position: absolute;
    top: 70px;
    left: 30%;
    width: 40%;
    height: 500px;
    background-color: #a44f52;
}