* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/fond.jpg") no-repeat fixed;
    background-size: cover;
}

.container{
    margin-top: 30px;
}

#plateau {
    background-color: #a44f52;
}

.img-choix {
    width: 100%;
    height: 300px !important;
}

.img-choix:hover {
    opacity: 0.8;
}