* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/fond.jpg") no-repeat fixed;
    background-size: cover;
}

.container{
    margin-top: 30px;
}

#plateau {
    border-radius: 10px;
    background-size: cover;
    margin: 5px 5px 20px;
}

#puzzle {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#errorPseudo {
    display: none;
}

.img-choix {
    width: 100%;
    height: 300px !important;
}

.img-choix:hover {
    opacity: 0.8;
}

.center {
    text-align: center;
}